*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans ',sans-serif;
}
h1 {
    
}
.img{
    display: block;
    width: 50%;
    border-radius: 10px;
}
main {
    padding: 45px;  
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}


.grid{  
   display:none;

    
 
}

.cards{
    padding: 45px;  
    grid-gap: 15px;
    background-color:violet;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid;
    width:300px;
    
}